.container
        .footer
                hr(style='margin: 30px 0 10px 0;')
                p &copy;&nbsp;
                        a(href='#') NOC - UFVJM
                        |  2015

script(src='/javascript/twitter-bootstrap/jquery/jquery.min.js')
script(src='/javascript/twitter-bootstrap/js/bootstrap.min.js')
script(src='/javascript/twitter-bootstrap/js/bootstrap-collapse.min.js')
script(src='/js/sync.js')

block footer